header{font-size: clamp(2vw, 20px, 100px);font-style: italic;padding-bottom: 1%}
img {height: auto;width:10%;min-width: 150px;margin-bottom: 20px;}
body, button {background-color: black;color:white;}
button {height: 30px;width:80vw;min-width: 100px;border: 1px solid white;border-radius: 5px;display:grid;margin: 15px;place-content: center;cursor:pointer}
p {font-size: 20px;}

.unselectable {user-select: none;-webkit-user-select: none;-moz-user-select: none;pointer-events: none;}
.center {display: flex;justify-content: center;}
.rows {display:flex;flex-direction: column;}

