body {background-color: black;display:grid;place-content: start center;user-select: none;-moz-user-select: none;-webkit-user-select: none;}
.dot {height: 15px;width: 15px;border-radius: 85%;background-color: white;margin: 2px;display: inline-block;font-size: small;text-align: center;color:white}
.dot[data-time = "false"] {opacity: 25%;}
.dotRoot {position: relative;border: solid 3px white;border-radius: 10px;margin:2px;width:fit-content;place-self: center;}
#PM {height: 25px;width:25px;display:flex;justify-content:center;align-items:center;}